
      <div class="section section-bottom">
        <div class="container">
              <p class="title">深圳市辉锐国际货运代理有限公司 版权所有
                              <br>备案号：粤ICP备14074951号
                              <br>24小时服务热线：0755-22196361 E-Mail: fred@hurry-log.com
                              <br>投诉电话：0755-22921530 传真：0755-22195134 邮编：518001
                              <br>地址：深圳市罗湖区东门南路2020号太阳岛大厦28楼B室
                              </p>
        </div>
      </div>
