<div class="pic">
  <img  src="https://ws1.sinaimg.cn/large/006tNc79gy1fzrv3jsiv5j30qo06yaf8.jpg">
</div>
<div class="mar title">
  <span class="navfont">
    <h2>辉锐国际货运代理有限公司</h2>
    <br>深圳市辉锐国际货运代理有限公司(中国交通部无船承运人资格证号：MOC-NV06257)，
    <br>于1999年4月成立于深圳经济特区，是华南地区第一批民营货代企业，是国内各大机场、货站码头、物流园区的最早一批合作伙伴。
    <br>通过十余年的积累和沉淀，与各大船公司、航空公司、快递公司、码头、仓库、海关、商检、协会商会、
    <br>行业媒体、展览出版等单位建立了长期和良好的合作关系；
    <br>发展和建立了遍布全球的海外代理网络；
    <br>建设健全了追求卓越的企业文化、专业优秀的物流人才梯队、完善的标准服务体系。
    <br>能为您实施全球范围内、真正的门到门货运物流服务，助力您的全球业务拓展。

    <br><br>辉锐致力于为全球发货人、收货人提供最优质快捷的货运物流服务。
    <br>目前我们能为您提供一个窗口、一站式的全程物流服务，包括出口&进口代理，
    <br>海运&空运&快递，订舱、拖车、仓储增值服务、代理报关商检、原产地证、埃及&伊朗CIQ、
    <br>熏蒸杀虫、货运保险、国内公路运输、国内空运及分拨配送、海外客户资信查询、
    <br>海外商旅接待参展咨询服务、退税、供应链融资、融资担保等等。

    <br><br><h3>辉锐的绝对优势产品：</h3>

    <br>一，中国--土耳其专线物流服务，全国市场最优势约价+仓位保证+15年航线经验，
    <br>土耳其全境81省14港进口&出口、DDU、退运、门到门服务，接受到付。
    <br>目前航线排名：MSK华南NO.1货代，ZIM华南NO.1货代；

    <br><br>二，华南海运散货拼箱服务，每周固定直拼全球60个基本港，
    <br>绝对直拼、目的港无乱收费、全程跟踪服务，具备丰富的电池、
    <br>DDU\DDP、AMAZON等跨境电商货物操作经验，目前行业前10
  </<span>
</div>
