
<div class="pic">
  <img  src="https://ws4.sinaimg.cn/large/006tNc79gy1fzrvzp6d8hj30qo06yaf8.jpg">
</div>
<div class="title">
  <h2>土耳其海运散货拼箱业务</h2>
  <span class="navfont">
    <br>海运散货拼箱是辉锐公司的核心优势业务。
    <br>辉锐创办之初，就把散货拼箱作为公司的核心业务，在激烈的市场竞争中已成长为华南广大客户心中专业拼箱的知名品牌。
    <br>目前年进出口货量数万CBM，拥有数万客户群。
    <br>通过遍布全球的海外代理网络，与数十家知名船公司及中外运等多家专业仓库合作，已开拓出全球60多个直拼港口。

     <br><br>西北欧航线：FELIXSOTW，HAMBURG，LE HAVRE， ROTTERDAM，ANTWERP， COOPENHAGEN.GOTHENBURG.
     <br>中国出口第一大市场，订单多，货量稳。
     <br>几大基本港口每周固定1-2班直拼船期。现已开发出个别偏港的直拼船期.

     <br><br>地西地东黑海北非航线：MARSEILLES，VALENCIA，BARCELONA，GENOVA，ISTANBUL，PIRAUS，LIMASSOL，BEIRUT，ALEXANDRIA.
     <br>该航线是我司散货拼箱核心优势，与多家船公司长期良好合作，船期稳、航程快捷，价格优。

      <br><br>东南亚航线：SINGAPOER，PORT KLANG，BANGKOK， HAIPHONG，MANILA，JAKARTA，SURABAYA.
      <br>随着东盟与中国10+1的签订，与08年、11年金融危机，东盟已经成为中国未来最重要的市场之一。
      <br>我司东南亚货量稳定、船期稳定。

      <br><br>澳新太平洋航线：SYDNEY，MELBOURNE，BRISBANE，AUCKLAN。
       <br>我司澳大利亚、新西兰都是绝对直拼服务。不从新加坡中转。船快价优。

      <br><br>中东印巴航线：每周直拼DUBAI，NHAVA SHEVA，CHENNAI，COLOMBO，
      <br>并中转辐射该地区主要港口。

       <br><br>美国航线：每周多班船直拼西岸、东岸基本港，覆盖全美的内陆点。
       <br>并有多个内陆中转点直拼服。每周5班的服务可满足您高频率发货、快速递送的要求。

      <br><br>我司还开通了DURBAN辐射非洲大陆港口，COLON FREE ZONE辐射中南美洲港口的拼箱服务，
      <br>实现了覆盖全球主要港口的海运散货拼箱服务网。
  </span>
      <div class="row mar">
        <div class="btngroup col-md-5 col-md-push-6">
            <div class="img">
              <!-- 实在找不到类，样式写在表单里-->
              <img src="https://ws3.sinaimg.cn/large/006tNc79gy1fzrcv5f00vg308o08o749.gif">
            </div>
            <h3 class="btntext"> 20年行业经验 实力强、规模大</h3>
            <h4 class="description">  20年土耳其航线运输经验，专业的人才队伍，已为13598家客户提供过物流服务。
              <br><br>  土耳其航线国际物流第二品牌，国内各大机场、货站码头、物流园区的最早一批合作伙伴。
              <br><br>  辉锐物流是全国最早一批民营货代企业，三大航运联盟所有14家船东实力代理，全国服务能力最全面、最了解土耳其航线的专家级公司。
            </h4>
      </div>
      <div class="btngroup col-md-5 col-md-pull-4">
          <div class="img">
            <!-- 实在找不到类，样式写在表单里-->
            <img src="https://ws3.sinaimg.cn/large/006tNc79gy1fzrcv5f00vg308o08o749.gif">
          </div>
          <h3 class="btntext"> 20年行业经验 实力强、规模大</h3>
          <h4 class="description">  20年土耳其航线运输经验，专业的人才队伍，已为13598家客户提供过物流服务。
            <br><br>  土耳其航线国际物流第二品牌，国内各大机场、货站码头、物流园区的最早一批合作伙伴。
            <br><br>  辉锐物流是全国最早一批民营货代企业，三大航运联盟所有14家船东实力代理，全国服务能力最全面、最了解土耳其航线的专家级公司。
          </h4>
    </div>
</div>
</div>
