
<div class="pic">
  <img src="https://ws2.sinaimg.cn/large/006tNc79gy1fzrvzpg0ugj30qo06yjxr.jpg">
</div>
<div class="title">
  <h2>土耳其空运业务</h2>
  <span class="navfont">
    <br>全国机场起步TK（土耳其航空）优势包舱/打板价

    <br>AIR国际空运

    <br>空运是辉锐的主营业务之一。与华南三大机场多家航空公司及打板公司有长期合作。

    <br><br>深圳机场：

    <br>主力航空公司：UPS，CA，CI，BR，CZ

    <br>其他：HU，AK，FD，TR，OZ，B7

    <br><br>香港机场：

    <br>主力航空公司：EK，TG，AF，UPS，MH，EY，NZ，SQ

   <br><br> 广州机场：

    <br>主力航空公司：FX，CA，LH，MU，CZ

    <br>其他：TR，BR，CI，AK，MD，QR，KQ，AY，BZ，DL，OZ，SV，UC，HU，TG，
    <br>SU，UN，VV，V5.EK，SQ，BR，TG，AFCI，LH，TR，QR，AK
  </span>
      <div class="row mar">
        <div class="btngroup col-md-5 col-md-push-6">
            <div class="img">
              <!-- 实在找不到类，样式写在表单里-->
              <img src="https://ws3.sinaimg.cn/large/006tNc79gy1fzrcv5f00vg308o08o749.gif">
            </div>
            <h3 class="btntext"> 20年行业经验 实力强、规模大</h3>
            <h4 class="description">  20年土耳其航线运输经验，专业的人才队伍，已为13598家客户提供过物流服务。
              <br><br>  土耳其航线国际物流第二品牌，国内各大机场、货站码头、物流园区的最早一批合作伙伴。
              <br><br>  辉锐物流是全国最早一批民营货代企业，三大航运联盟所有14家船东实力代理，全国服务能力最全面、最了解土耳其航线的专家级公司。
            </h4>
      </div>
      <div class="btngroup col-md-5 col-md-pull-4">
          <div class="img">
            <!-- 实在找不到类，样式写在表单里-->
            <img src="https://ws3.sinaimg.cn/large/006tNc79gy1fzrcv5f00vg308o08o749.gif">
          </div>
          <h3 class="btntext"> 20年行业经验 实力强、规模大</h3>
          <h4 class="description">  20年土耳其航线运输经验，专业的人才队伍，已为13598家客户提供过物流服务。
            <br><br>  土耳其航线国际物流第二品牌，国内各大机场、货站码头、物流园区的最早一批合作伙伴。
            <br><br>  辉锐物流是全国最早一批民营货代企业，三大航运联盟所有14家船东实力代理，全国服务能力最全面、最了解土耳其航线的专家级公司。
          </h4>
    </div>
</div>
</div>
