
<div class="pic">
  <img  src="https://ws3.sinaimg.cn/large/006tNc79gy1fzradsf0vcj318o0bk4ps.jpg">
</div>
<div class="title">
  <h2>土耳其海运整柜业务</h2>
  <span class="navfont">
    <br>海运是辉锐的主营业务之一。
    <br>经过十余年的发展，公司已培养出一批经验丰富的海运专业人才，
    <br>熟悉世界各国港口情况和各类货物运输流程，精于办理各种货运手续。
    <br>同时公司已与世界各主要船公司建立了良好的合作关系。

    <br>到目前为止，我司航线排名是：MSK 华南土耳其航线TOP2，ZIM华南土耳其航线NO.1。

    <br>整柜集装箱运输代理服务

    <br>拖柜、装卸、仓储和配送

    <br>报关、报检、各种单证、货运保险

    <br>门到门服务 拥有全世界的代理网络

    <br>信息快捷，服务周全
  </span>
      <div class="row mar">
        <div class="btngroup col-md-5 col-md-push-6">
            <div class="img">
              <!-- 实在找不到类，样式写在表单里-->
              <img src="https://ws3.sinaimg.cn/large/006tNc79gy1fzrcv5f00vg308o08o749.gif">
            </div>
            <h3 class="btntext"> 20年行业经验 实力强、规模大</h3>
            <h4 class="description">  20年土耳其航线运输经验，专业的人才队伍，已为13598家客户提供过物流服务。
              <br><br>  土耳其航线国际物流第二品牌，国内各大机场、货站码头、物流园区的最早一批合作伙伴。
              <br><br>  辉锐物流是全国最早一批民营货代企业，三大航运联盟所有14家船东实力代理，全国服务能力最全面、最了解土耳其航线的专家级公司。
            </h4>
      </div>
      <div class="btngroup col-md-5 col-md-pull-4">
          <div class="img">
            <!-- 实在找不到类，样式写在表单里-->
            <img src="https://ws3.sinaimg.cn/large/006tNc79gy1fzrcv5f00vg308o08o749.gif">
          </div>
          <h3 class="btntext"> 20年行业经验 实力强、规模大</h3>
          <h4 class="description">  20年土耳其航线运输经验，专业的人才队伍，已为13598家客户提供过物流服务。
            <br><br>  土耳其航线国际物流第二品牌，国内各大机场、货站码头、物流园区的最早一批合作伙伴。
            <br><br>  辉锐物流是全国最早一批民营货代企业，三大航运联盟所有14家船东实力代理，全国服务能力最全面、最了解土耳其航线的专家级公司。
          </h4>
    </div>
</div>
</div>
